
<div class="col-md-4 col-sm-3 col-xs-3">
	<div class="form-group">
        <div class="block right">
            <ng-csv-import class="import" content="csv.content" header="csv.header" header-visible="csv.headerVisible" separator="csv.separator" separator-visible="csv.separatorVisible" result="csv.result" encoding="csv.encoding" encoding-visible="csv.encodingVisible" upload-button-label="csv.uploadButtonLabel"></ng-csv-import>
        </div>
        <button type="submit" class="btn btn-green" ng-click="uploadCSV()">Upload CSV <span class="glyphicon glyphicon-send"></span></button>
        <label class="control-label"></label>
    </div>
</div>
