             <div class="row">

                       <div class="progress">
                          <div class="fader left"></div>
                          <div class="fader right"></div>
                          <a href="/campaign-new/{{campaign.id}}/start" ng-class="getClass('/start')">
                            Start
                            <div class="underline"></div>
                          </a>
                          <a href="/campaign-new/{{campaign.id}}/recipients" ng-class="getClass('/recipients')">
                            Recipients
                            <div class="underline"></div>
                          </a>
                          <a href="/campaign-new/{{campaign.id}}/compose" ng-class="getClass('/compose')" >
                            Compose
                            <div class="underline"></div>
                          </a>
                          <a href="/campaign-new/{{campaign.id}}/preview" ng-class="getClass('/preview')">
                            Preview
                            <div class="underline"></div>
                          </a>
                          <a href="/campaign-new/{{campaign.id}}/options" ng-class="getClass('/options')" >
                            Options
                            <div class="underline"></div>
                          </a>
                          <a href="/campaign-new/{{campaign.id}}/send" ng-class="getClass('/send')" >
                            Send
                            <div class="underline"></div>
                          </a>
                        </div>
                    

                </div>